html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #181818;
  font-size: 14px;
  min-width: 720px;
}

#background {
  height: 100vh;
}

.background {
  background-color: #000;
  background-image: url("/statics/img/bg.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
  bottom: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.transparent {
  background-color: transparent;
}

// sm

@media (min-width: 0px) {
  .mt-10 {
    margin-top: 6rem !important;
  }
}

@media (max-width: 576px) {
  .mt-sm-10 {
    margin-top: 6rem !important;
  }
}

// md
@media (min-width: 577px) and (max-width: 991px) {
  .mt-md-10 {
    margin-top: 6rem !important;
  }

  .mt-md-20 {
    margin-top: 12rem !important;
  }
}

// lg
@media (min-width: 992px) {

  // size md
  .mt-md-20 {
    margin-top: 12rem !important;
  }
  
  // size lg
  .mt-lg-10 {
    margin-top: 6rem !important;
  }

  .mt-lg-15 {
    margin-top: 9.5rem !important;
  }

  .mt-lg-20 {
    margin-top: 12rem !important;
  }

  .pl-lg-10 {
    padding-left: 6rem !important;
  }

  .pl-lg-15 {
    padding-left: 9.5rem !important;
  }
}