.mainContainer {

}

.topContainer {
    min-height: 100%;
    height: 100%;
}

.navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
}

.logo img {
    width: 32px;
}